{% extends "base.html" %} {% block announce %} Work in progress documentation,
please use
<a href="https://pytauri.github.io/pytauri/latest/"
  >the stable documentation instead.</a
>
{% endblock %} {% block styles %} {{ super() }} {# TODO: add hero.css here
instead of having to add it with the extra_css config #}
<style>
  .mdx-hero {
    background-image: url("{{ page.meta.hero.backgroundImage | url }}");
  }
</style>
{% endblock%} {% block content %}
<div class="mdx-hero"></div>
<div class="mdx-logo">
  <img src="{{ page.meta.hero.logo }}" alt="logo" />
</div>

<div class="md-container">
  <div class="mdx-teaser md-grid">
    <h1>{{ page.meta.hero.name }}</h1>
    <p>{{ page.meta.hero.text }}</p>
    <p>
      <small>{{ page.meta.hero.tagline }}</small>
    </p>
    <div class="md-button-group">
      {% for action in page.meta.hero.actions %} {% set theme_class =
      'md-button--primary' if action.theme == 'primary' else '' %}
      <a href="{{ action.link }}" class="md-button {{ theme_class }}">
        {{ action.text }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %} {% block footer %} {% endblock %}
