{% extends "base.html" %} {% block content %}

<div class="hero_container">
  <div>
    <h1 class="hero_name">{{ page.meta.hero.name }}</h1>
    <h1 class="hero_text">{{ page.meta.hero.text }}</h1>
    <h2 class="hero_tagline">{{ page.meta.hero.tagline }}</h2>
    <div class="hero_container_cards">
      {% for action in page.meta.hero.actions %} {% set theme_class =
      'md-button--primary' if action.theme == 'primary' else '' %}
      <a href="{{ action.link }}" class="md-button {{ theme_class }}">
        {{ action.text }}
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="hero_container_image">
    <img src="{{ page.meta.hero.image.src }}" alt="logo" />
  </div>
</div>

<div class="hero_card_container">
  {% for feature in page.meta.features %}
  <div class="hero_card">
    <h1>{{ feature.icon }}</h1>
    <h1>{{ feature.title }}</h1>
    <p>{{ feature.details }}</p>
  </div>
  {% endfor %}
</div>

<div class="hero_warning">
    Work in progress documentation, please use <a href="https://pytauri.github.io/pytauri/latest/">the stable documentation instead.</a>
</div>
{% endblock %}
