:root > * {
  --color-brand: #2294b2;

  --md-primary-fg-color: var(--color-brand);
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;

  --md-accent-fg-color: var(--color-brand);
  --md-accent-fg-color--transparent: color-mix(
    in oklab,
    var(--color-brand),
    transparent 70%
  );
}

/* hero template */
.hero_container {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
}

.hero_name {
  font-size: 4rem !important;
  margin-block: 0.5rem !important;
  color: var(--color-brand) !important;
}

.hero_text {
  color: var(--color-brand);
}

.hero_tagline {
  color: var(--md-default-fg-color--light) !important;
  font-weight: normal !important;
  max-width: 80%;
}

.hero_container_cards {
  display: flex;
  gap: 1rem;
}

.hero_container_image {
  flex-grow: 1;
  display: flex;
  place-content: center;
}

.hero_card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.4rem;
  display: block;
  margin: 0;
  padding: 0.8rem;
}

.hero_card_container {
  grid-gap: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
  margin: 1em 0;
}

.hero_warning {
  font-weight: 600;
  padding: 2rem;
  border-width: 1px;
  border-color: var(--color-brand);
  border-style: solid;
  border-radius: 0.4rem;
  background-color: color-mix(in oklab, var(--color-brand), transparent 90%);
}
